extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="day")
  
  section(class="content")
  div(class="meter")
    span(class="progress", style="width: 25%")
  div(class="meter orange nostripes")
    span(class="progress", style="width: 33.3%")
  div(class="meter red")
    span(class="progress", style="width: 80.0%")
block scripts
  script(type="text/javascript", src="../progressBars.js")
